<!DOCTYPE html>
<html>
<head>
<title>Indian art</title>
</head>
<body>

<h1>Indian Artwork</h1>

<p>The rich cultural diversity of Indian art is well reflected in the vivid, distinct and enchanting folk art and crafts.</p>

<p>The rich cultural diversity of Indian           art is well reflected in the
     vivid, distinct and                            enchanting folk art and crafts.</p>

<a href="https://blog.mojarto.com/indian-artistry-10-distinct-types-of-paintings-in-india/">To know more</a>

<h2>Traditionally, most of the Indian painting styles existed as wall paintings or murals.
    In due course of time, urbanisation brought these painting forms on paper, canvas, and cloth etc.</h2>


<h1 style="font-size:40px;">1. Madhubani Paintings</h1>

<h1 style="background-color:rgb(142, 204, 212);">1. Madhubani Paintings</h1>
<p style="background-color:rgb(221, 225, 205);">One of the most celebrated styles of Indian art is, 
    Madhubani which originated in the Mithila region of Bihar as a form of wall art.</p>
    
<h1 style="color:rgb(183, 84, 223);">1. Madhubani Paintings</h1>
<p style="color:rgb(41, 175, 101);">One of the most celebrated styles of Indian art is, 
    Madhubani which originated in the Mithila region of Bihar as a form of wall art.</p>    


<b>1. Madhubani Paintings</b>  

<h1 style="text-align:center;">1. Madhubani Paintings</h1>
<p style="text-align:center;">One of the most celebrated styles of Indian art is, 
    Madhubani which originated in the Mithila region of Bihar as a form of wall art.</p>

<strong>2. Warli Paintings</strong>

<i>This ancient Indian art is 2500-year-old tradition. 
    Warli paintings of the Thane and Nasik areas of Maharashtra 
    are closely linked with nature and social rituals of the tribe.</i>

<em>Warli paintings showcase daily activities of the local 
    people of that community like farming, dancing, hunting, praying etc.</em>    

<small>Traditionally, women used twigs to draw lively designs
     with rice paste on mud walls of tribal houses
      to mark celebrations of harvests or weddings.</small>    
  
<p>Warli paintings showcase daily activities of the local 
        people of that community like <mark> dancing, hunting, praying etc</mark> .</p> 
                  
{{name}}

<p>My favorite color is <del>blue</del> red.</p>

<p>My favorite color is <del>blue</del> <ins>red</ins>.</p>

<p>This is <sub>subscripted</sub> text.</p>

<p>This is <sup>superscripted</sup> text.</p>

<p>Here is a quote from WWF's website:</p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 60 years, WWF has worked to help people and nature thrive. 
As the world's leading conservation organization, WWF works in nearly 100 countries.
At every level, we collaborate with people around the world to
develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
</blockquote>

<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>


<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
    </address>

<p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>

<bdo dir="rtl">This text will be written from right to left</bdo>

<!-- This is a comment -->

<p>This is a paragraph.</p>

<!-- Remember to add more information here -->

<p>This is a paragraph.</p>

<!-- <p>This is another paragraph </p> -->

<p>This is a paragraph too.</p>

<p>This is a paragraph1.</p>
<!--
<p>Look at this cool image:</p>
<img border="0" src="pic_trulli.jpg" alt="Trulli">
-->
<p>This is a paragraph2 too.</p

<p>This <!-- great text --> is a paragraph3.</p>

<h1 style="background-color:Tomato;">red</h1>
<h1 style="background-color:Orange;">Orange</h1>
<h1 style="background-color:DodgerBlue;">DodgerBlue</h1>
<h1 style="background-color:MediumSeaGreen;">MediumSeaGreen</h1>

<h1 style="background-color:rgb(187, 54, 181);">Hello World</h1>

<h1 style="color:rgb(119, 187, 121);">Hello World</h1>
<p style="color:rgb(29, 108, 181);">Lorem ipsum...</p>

<h1 style="border:2px solid rgb(115, 68, 169);">Hello World</h1>
<h1 style="border:5px solid rgb(151, 186, 61);">Hello World</h1>


<h1 style="background-color:rgb(255, 99, 71);">.fgh.</h1>
<h1 style="background-color:#ff6347;">.hgf.</h1>
<h1 style="background-color:hsl(9, 100%, 64%);">.hgg.</h1>

<h1 style="background-color:rgba(255, 99, 71, 0.5);">.cvbh.</h1>
<h1 style="background-color:hsla(9, 100%, 64%, 0.5);">ghgv</h1>
<h1 style="background-color:rgb(255, 99, 71, 0.5);">.hdgh.</h1>

{% for i in all_emps %}
{{i}}
{% endfor %}

</body>
</html>

