<!DOCTYPE html>
<html>
<head> 
<title> practice time </title>    
</head>
<body>
<h1> html commands </h1>
<p> Sikkim is a state in northeast India,
     bordered by Bhutan, Tibet and Nepal. </p>

<a href="https://sikkimtourism.gov.in/Public/ExperienceSikkim/history">about Sikkim</a> 

<h4> html commands </h4>

<h1 style = "background-color:rgb(106, 32, 32);"> Sikkim is a state </h1>

<h2 style=" background-color: rgb(79, 147, 147);"> skm </h2>
<h1 style="color: rgb(53, 53, 184);"> sikkim </h1>
<h1 style=" text-align: center;"> sikkim </h1>
<strong> Buddhist monasteries such as Pemayangtse </strong><br
<i> Buddhist monasteries such as Pemayangtse </i>
<em>Pemayangtse </em>
<p> Part of the Himalayas, 
    the area has a dramatic landscape that
     includes India’s highest mountain, 8,586m Kangchenjunga.
    Sikkim is also home to glaciers, alpine meadows and thousands of varieties of wildflowers.</p>

<p> Part of the Himalayas, 
        the area has a dramatic landscape that
         includes India’s highest mountain,<mark>8,586m Kangchenjunga.</mark> 
        Sikkim is also home to glaciers, alpine meadows and thousands of varieties of wildflowers.</p>
    







</body>
</html>